@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
* {
  font-family: 'Manrope', sans-serif;
}
body {
  display flex
  justify-content center
  align-items flex-start

  #editorjs {
    width 1240px
    flex-shrink 0
  }
  .codex-editor__redactor {
    padding-bottom 30px !important
  }
}