.editor-js-poll-plugin {
  display grid
  grid-gap 16px
  background #ffffff
  border-radius 5px

  &__header {
    display grid
    grid-gap 8px
  }

  &__header-checks {
    display flex
    align-items center
    gap 8px
  }

  &__checkbox {
    display flex
    align-items center
    font-size 0.875em
    gap 2px
  }

  &__body {
    display grid
    grid-gap 10px
  }

  &__answer {
    display flex
    align-items center
    gap 16px
  }

  &__hidden {
    display none
  }
}
